.add-client-link {
  display: inline-block;
  width: 80%;
  text-align: center;
  padding: 10px 0;
  font-size: 18px;
  text-decoration: none;
  color: white;
  background-color: #228be6;
  border: 1px solid #228be6;
  border-radius: 5px;
}

.add-client-link:hover {
  background-color: #1c7ed6;
  border: 1px solid #1c7ed6;
}

@media (max-width: 1200px && min-width:880px) {
  .add-client-link {
    font-size: 14px;
  }
}
