.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
}

.substation-list {
  list-style: none;
  display: flex;
  padding: 0;
  align-items: center;
  column-gap: 15px;
  overflow-x: auto;
}

.substation-item {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  min-width: 180px;
}

.substation-item svg:hover {
  color: #1c7ed6;
}

.substation-item__wrapper {
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.inputs-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  text-align: center;
}

.substation-item:not(:last-child) {
  padding-right: 15px;
  border-right: 1px solid black;
}