.list-wrapper {
  width: 100%;
}

.contacts-list {
  display: flex;
  flex-direction: column;
  width: 100%;
  list-style: none;
  padding: 0;
  row-gap: 5px;
}

.contacts-item:not(:last-child) {
  border-bottom: 1px solid black;
  padding-bottom: 5px;
}